{% extends 'base.html' %}

{% block content %}
<div class="flex justify-center items-center h-screen bg-gray-100">
    <form method="post" class="bg-white shadow-md rounded p-6 w-80" novalidate>
        {% csrf_token %}
        <h2 class="text-xl font-bold mb-4 text-center">Contraseña Actualizada de manera exitosa</h2>
        
        {% for field in form %}
            <div class="mb-4">
                {{ field.label_tag }}
                <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" class="border border-gray-300 p-2 rounded w-full" />
                {% if field.errors %}
                    <small class="text-red-500">{{ field.errors|striptags }}</small>
                {% endif %}
            </div>
        {% endfor %}
        
        <!-- <button type="submit" class="bg-blue-500 text-white py-2 rounded w-1/2 hover:bg-blue-600 mx-auto block">Login</button> -->
        <a href="{% url 'login' %}" class="bg-blue-500 text-white py-2 rounded w-1/2 hover:bg-blue-600 mx-auto block text-center">Login</a>
        <div class="mt-4 text-center">
            <a href="{% url 'password_reset' %}" class="text-blue-500 hover:underline">Forgot password?</a>
            <p class="mt-2">Don't have an account? <a href="{% url 'register' %}" class="text-blue-500 hover:underline">Join Now</a></p>
        </div>
    </form>
</div>
{% endblock content %}