<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}E-commerce{% endblock %}</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <style>
      .carousel-button {
          top: 50%;
          transform: translateY(-50%);
      }
  </style>
  </head>
<body class="bg-gray-200">
    <header>
          {% include 'navbar.html' %}
          
    </header>
    <main>
      {% block content %}{% endblock %}

    </main>
    
    <footer class="footer footer-center bg-base-300 text-base-content p-4">
      <aside>
        <p>Copyright © <span id="currentYear"></span> - All right reserved by Mi E-Comerce Django</p>
      </aside>
    </footer>

    <script>
      document.getElementById('currentYear').textContent = new Date().getFullYear();
    </script>
</body>
</html>
