{% extends 'base.html' %}

{% block title %}
    Inicio
{% endblock title %}

{% block content %}
<div class="container mx-auto mt-10">
    <div class="relative overflow-hidden">
        <!-- Carousel Wrapper -->
        <div class="carousel flex transition-transform duration-500">
            {% for product in products %}
                
            <div class="min-w-full">
                <img src="{% if product.image %} 
                {{ product.image.url }} {% else %} https://dummyimage.com/720x400 
                {% endif %}" class="w-full" alt="Wild Landscape">
            </div>
            {% endfor %}

        </div>
        <!-- Controls -->
        <button class="carousel-button absolute left-0 bg-gray-800 text-white p-2 rounded-full" onclick="prevSlide()">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
            </svg>
        </button>
        <button class="carousel-button absolute right-0 bg-gray-800 text-white p-2 rounded-full" onclick="nextSlide()">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
            </svg>
        </button>
    </div>
</div>

<script>
    let currentIndex = 0;
    const slides = document.querySelectorAll('.carousel > div');
    const totalSlides = slides.length;

    function updateCarousel() {
        const offset = -currentIndex * 100;
        document.querySelector('.carousel').style.transform = `translateX(${offset}%)`;
    }

    function prevSlide() {
        currentIndex = (currentIndex > 0) ? currentIndex - 1 : totalSlides - 1;
        updateCarousel();
    }

    function nextSlide() {
        currentIndex = (currentIndex + 1) % totalSlides;
        updateCarousel();
    }
</script>
{% endblock content %}
