{% load static %}
<header>
<nav class="flex items-center justify-between flex-wrap bg-teal-500 p-3">
    <div class="flex items-center flex-shrink-0 text-white mr-6">
        <a href="/" class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
            <svg class="fill-current h-8 w-8 mr-2" width="54" height="54" viewBox="0 0 54 54" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.5 22.1c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05zM0 38.3c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05z"/>
            </svg>
            <span class="font-semibold text-xl tracking-tight">Mi E-Comerce</span>
        </a>
        <form method="GET" action="{% url 'search_products' %}" class="flex items-center">
            <input type="text" name="q" placeholder="Buscar productos" class="px-4 py-2 border rounded-md focus:outline-none" required>
            <button type="submit" class="ml-2 bg-blue-500 text-white px-4 py-2 rounded-md">Buscar</button>
        </form>
    </div>
    <div class="block lg:hidden">
        <input type="checkbox" id="menu-toggle" class="hidden">
        <label for="menu-toggle" class="menu-icon block cursor-pointer">
            <svg class="fill-current h-6 w-6" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <title>Menu</title>
                <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/>
            </svg>
        </label>
        <div class="menu hidden lg:flex lg:items-center lg:w-auto">
            <div class="text-sm lg:flex-grow">
                <a href="{% url 'product_list' %}" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
                    Productos
                </a>
                <a href="{% url 'category_list' %}" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
                    Categorias
                </a>
                {% if not request.user.is_authenticated %}
                <a href="{% url 'login' %}" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
                    Login
                </a>
                <a href="{% url 'register' %}" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
                    Registrarse
                </a>
                {% else %}
                <a href="{% url 'profile' %}" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
                    Profile
                </a>
                <a href="{% url 'cart_detail' %}" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
                    <!-- <img src={% static 'store/images/cart_icon.svg' %} class="h-6 w-6" alt="Carrito de compras"> -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" 
                    class="flex items-center block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M6 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"/>
                        <path d="M17 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"/>
                        <path d="M17 17h-11v-14h-2"/>
                        <path d="M6 5l14 1l-1 7h-13"/>
                    </svg>
                </a>
                <form id="logout-form" method="post" action="{% url 'logout' %}" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="hidden lg:flex lg:items-center lg:w-auto">
        <div class="text-sm lg:flex-grow">
            <a href="{% url 'product_list' %}" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
                Productos
            </a>
            <a href="{% url 'category_list' %}" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
                Categorias
            </a>
            {% if not request.user.is_authenticated %}
            <a href="{% url 'login' %}" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
                Login
            </a>
            <a href="{% url 'register' %}" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
                Registrarse
            </a>
            {% else %}
            <a href="{% url 'profile' %}" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
                Profile
            </a>
            <a href="{% url 'cart_detail' %}" class="flex items-center block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
                <!-- <img src="{% static 'store/images/cart_icon.svg' %}" alt="Carrito de compras" class="w-6 h-6 fill-current"> -->
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" 
                class="flex items-center block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M6 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"/>
                    <path d="M17 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"/>
                    <path d="M17 17h-11v-14h-2"/>
                    <path d="M6 5l14 1l-1 7h-13"/>
                </svg>
            </a>
            <form id="logout-form" method="post" action="{% url 'logout' %}" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
            {% endif %}
        </div>
    </div>
</nav>
</header>
<style>
    /* Estilos para el menú hamburguesa */
    .menu-icon {
        cursor: pointer;
    }
    .menu {
        display: none;
    }
    #menu-toggle:checked + .menu-icon + .menu {
        display: block;
    }

.cart-icon {
    fill: #319795; /* Reemplaza este color con el valor de la clase text-teal-200 de Tailwind CSS */
}

.cart-icon:hover {
    fill: #ffffff; /* Reemplaza este color con el valor de la clase hover:text-white de Tailwind CSS */
}

</style>
